<ul class="header-nav">
  <!--<li><a href="">Resources</a></li>-->
  <li><a href="http://speak.io">What is Speak?</a></li>
  <li><a href="{{@blog.url}}/tag/startup-journal/">Startup Journal</a></li>
   <li class="nav-guest-post"><a href="{{@blog.url}}/guest-post/">Write for us!</a></li>
</ul>
