<div class="sidebar">
  <section class="newsletter">
    <h4>Weekly Newsletter</h4>

    <p>
      You'll receive a weekly email with great content around business, productivity and design.
    </p>

    <form action="//sqwiggle.us6.list-manage.com/subscribe/post?u=0e8642f456c9823c71db27621&amp;id=7403b78531" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email address">
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_0e8642f456c9823c71db27621_7403b78531" tabindex="-1" value=""></div>
      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </form>
  </section>

  <section class="speak-promo">
    <h4>We’re fixing communication for remote teams.</h4>

    <p>
      Speak helps teams improve collaboration and communication by providing instant audio, video and screen sharing.
    </p>

    <a href="http://speak.io" class="button">Learn more</a>
  </section>
</div>


